# -----------------------------
# PostgreSQL container config
# -----------------------------
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=jobi_db

# -----------------------------
# Application config (Docker)
# -----------------------------
# IMPORTANT: host must be "db"
DATABASE_URL=postgresql://postgres:your_password_here@db:5432/jobi_db

JWT_SECRET=your_docker_secret_here
